
*{
    background-color: rgba(200, 165, 112, 0.8);
}
p{
    color: rgb(171, 31, 31);
}
h2{
    color: rgb(21,38,93);
}
li{
    color: rgb(180, 31, 31);
}
b{
    color:rgb(21, 38, 93);
}
h1{
    text-align: center;
    background-color: aliceblue;
}
#certificate{
    font-size :larger;
}
#cert{
    color: rgb(21,38,93);
}
img{
    width:300;
}

img{
    width: 70%;;
}

@media  only screen and (max-width:480px){
    img{
        width:100%;
    }
    
}
@media  only screen and (min-width:800px){
    img{
        width:800px;
    }
    
}
